<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="col-md-6 col-md-offset-3">
            <h2>Register</h2>
            <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="firstname">First Name</label>
                    <input type="text" style="width: 200px;" class="form-control" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required />
                    <div *ngIf="f.submitted && !firstname.valid" class="help-block">First Name is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="lastname">Last Name</label>
                    <input type="text" style="width: 200px;" class="form-control" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required />
                    <div *ngIf="f.submitted && !lastname.valid" class="help-block">Last Name is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="username">Username</label>
                    <input type="text" style="width: 200px;" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Password</label>
                    <input type="password" style="width: 200px;" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div>

                <!-- For Keystroke dynamics-->
                <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !isEqualLoremTextArea() }">
            <label>Keystroke Authentication</label>
            <br>
            <small style="font-style: italic;">Please type the paragraph below, so that your keystroke dynamics profile can be created.</small>
            <div class="myCaptchaBox" style="margin-top:15px;">
                {{myLoremIpsumParagraph}}
            </div>
            <textarea rows="7" cols="50" style="margin-top: 10px;" class="form-control" placeholder="Type text above" name="textarealorem" id="textAreaLorem" [(ngModel)]="textAreaLorem"></textarea>
            <div *ngIf="f.submitted && !isEqualLoremTextArea()" class="help-block">Lorem Ipsum Wrong</div>
        </div> -->
                <!-- -->

                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary" id="btnregister">Register</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


<br>